header {
    background-color: $primary-color;
    padding: 1rem 0;
  
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      ul {
        list-style: none;
        display: flex;
  
        li {
          margin-left: 20px;
  
          a {
            color: white;
            text-decoration: none;
            font-weight: 600;
            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
  
      h1 {
        color: white;
        font-size: 1.8rem;
      }
    }
  
    @include respond-to(mobile) {
      nav ul {
        flex-direction: column;
      }
    }
  }
  
.hero {
  background-color: $secondary-color;
  padding: 5rem 0;
  color: white;
  text-align: center;

  h2 {
    font-size: 2.5rem;
  }

  .btn {
    background-color: white;
    color: $secondary-color;
    padding: 0.8rem 1.5rem;
    text-decoration: none;
    border-radius: 5px;
    font-weight: 600;
    margin-top: 1rem; // Adiciona margem entre o botão e o parágrafo acima
    display: inline-block; // Para garantir que o `margin-top` funcione corretamente
    &:hover {
      background-color: darken(white, 10%);
    }
  }
}
  